{% extends 'core/base.html' %}

{% block content %}
    <main class="signup py-5 mt-5">
            <h1 class="py-4">Sign up Page</h1>

        <div style="display: flex; justify-content: center;">
            <form action="." method="post" style="display: grid; grid-template-columns: auto ; ">
                {% csrf_token %}
                <input class="form-control py-2 px-5" type="text" name="username" id="username" placeholder="Create Username"
                    required>
                <br>
                <input class="form-control py-2 px-5" type="text" name="firstname" id="firstname" placeholder="Create firstname"
                    required>
                <br>
                <input class="form-control py-2 px-5" type="text" name="lastname" id="lastname" placeholder="Create lastname"
                    required>
                <br>
                <input class="form-control py-2 px-5" type="email" name="email" id="email" placeholder="Create email" required>
                <br>
                <input class="form-control py-2 px-5" type="password" name="password1" id="password1" placeholder="Create password"
                    required>
                <br>
                 <input class="form-control py-2 px-5" type="password" name="password2" id="password2" placeholder="Confirm password"
                    required>
                <br>
                <button class="btn btn-success  py-3 px-4"><a class="text-decoration-none text-light"
                        href="">Submit</a></button>
            </form>
        </div>
    </main>

{% endblock %}